/* Adicione estas regras ao seu arquivo styles.css */

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, #logoffBtn {
  background-color: #282a36;
  color: #f8f8f2;
  padding: 10px;
  text-align: center;
}

header {
  flex-shrink: 0;
}

#logoffBtn {
  align-self: flex-end;
}

.menu {
  width: 200px;
  background-color: #44475a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.menu-item {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-item img {
  margin-right: 10px;
}

main {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.submenu {
  position: fixed;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: #44475a;
  padding: 20px;
  display: none;
  max-height: 1500px;

.submenu a {
  color: #f8f8f2;
  font-size: large;
  text-decoration: none;
  display: block;
  padding: 20px;
  margin-bottom: 10px;
}
