/* Adicione estas regras ao seu arquivo styles.css */

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

header {
  background-color: #282a36;
  color: black;
  padding: 10px;
  text-align: center;
}

header {
  flex-shrink: 0;
}

.Botão {
  font-size: xx-large;
  align-items: center;
  background-color: #282a36;
  font: bold;
  color: white;
  padding-left: 10px;
}

.logoffBtn {
color: white;
font: bold;
}

.menu {
  width: 200px;
  background-color: #44475a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.menu-item {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-item img {
  margin-right: 10px;
}

main {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.form {
  background-color: #282a36;
  color: #f8f8f2;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  color: white;
  font-size: xx-large;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input,
.form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #44475a;
  border-radius: 3px;
  background-color: #6272a4;
  color: #f8f8f2;
  outline: none;
}

.form button {
  background-color: #50fa7b;
  color: #282a36;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form button:hover {
  background-color: #8be9fd;
}
.dropdown {
  background-color: #44475a;
}