body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282a36;
  color: #f8f8f2;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #44475a;
  border-radius: 15px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  background-color: #6272a4;
  color: #f8f8f2;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

button:hover {
  background-color: #44475a;
}

#forgotPassword {
  margin-top: 20px;
  cursor: pointer;
}
